<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSSHOMEWORK</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css">
    <link rel="stylesheet" href="../css/your-order-3-4.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="container-xs">
        <div class="modal-overlay" id="modal">
            <div class="modal-content">
                    <img class="modal-img" src="../images/sportswoman.jpg" 
                    srcset="../images/sportswoman@2x.jpg"
                    alt="sports-woman">
                <div class="modal-body">
                    <p class="modal-text">
                        Follow us on our social networks:
                    </p>
                    <div class="modal-textarea">
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/goit.turkiye/" target="_blank">instagram</a>
                            </li>
                            <li>/</li>
                            <li>
                                <a href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
                                    target="_blank">facebook</a>
                            </li>
                            <li>/</li>
                            <li>
                                <a href="https://www.youtube.com/@GoITTurkey?app=desktop" target="_blank">youtube</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>